<header class="header">
    <div class="wrapper">
        <div class="header__img">
            <a href="/">
                <img src="{{ site.baseurl }}/img/maxime.jpg" alt="Maxime Lafarie">
            </a>
        </div>
        <div class="header__bio">
            <p>
                I'm Maxime, <span id="age"></span> yo. French front end developer specialized in <a target="_blank"
                                                                                                    href="//angular.io/">Angular</a>
                and <a target="_blank" href="//www.highcharts.com/">Highcharts</a>.<br>
                Freelancer, food lover and rugby second row since 2k8.<br>
                <a href="//old.maximelafarie.com/">Looking for my previous website? (FR)</a>
                <span>/</span>
                <a href="{{ site.baseurl }}/static/cv_maxime_lafarie.compressed.pdf" target="_blank">My resume (FR)</a>
            </p>
            <a href="https://twitter.com/MAADM4X" class="twitter-follow-button" data-show-count="true"></a>
            <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');</script>
        </div>
    </div>
</header>
<nav class="nav">
    <ul>
        <li>
            <a href="/">Posts</a>
        </li>
        <li>
            <a href="/about">
                About
            </a>
        </li>
        <li>
            <a href="/work">
                Work
            </a>
        </li>
        <li>
            <a href="/applications">
                Applications
            </a>
        </li>
    </ul>
</nav>
